html 
 head 
  title Job website 
  link(rel="stylesheet",type="text/css" href="style.css")
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap" rel="stylesheet")
body
   div.header
       img(src="images/bg-header-desktop.svg")
   div.searchBar 
    input(type="text" class="searchBar-input" placeholder="search tag")
    .searchBar--tags 
   div.cards
   script(src="index.js")

   

         
         
        


           