//Variables
$header-primary-color:hsl(180, 29%, 50%);
$body-primary-color:hsl(180, 52%, 96%);
$tag-text-color:hsl(180, 29%, 50%);
$body-font-family:'Spartan', sans-serif;
//Mixins
@mixin row {
    display: flex;
}
@mixin column {
    display: flex;
    flex-direction: column;
}
//Designs
*{
    margin: 0 0 0 0;
}
body{
    background-color: $body-primary-color;
    font-family: $body-font-family;
}
.header{
    width: 100%;
    background-color: $header-primary-color;
    img{
      width: 100%;
    }
    z-index: -1;
}
.card{
    &.hidden {
        display: none;
    }

    &.show{
        display: flex;
    }
    width: 75%;
    background-color: white;
    border-radius: 3px 3px 3px 3px;
    box-shadow:11px 12px 40px 2px $header-primary-color;
    margin:2% 0% 0% 12.5%;
    .card--row{
        @include row;
        justify-content: space-between;
        margin:0% 5% 0% 5%; 
        padding:2.5% 0% 2.5% 0%;
        align-items: center;
    }
    .card--row--tags{
        display: flex;
        flex-wrap: wrap;
        direction:rtl;
        width: 60%;
        justify-content: space-between;
    }
    .card--row--tag{       
        color: $tag-text-color;
        background-color: $body-primary-color;
        border-radius: 3px;
        width: auto;
        min-width: 15%;
        font-weight: bold;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
        padding: 0% 3%;
        &:hover{
            color: white;
            background-color: $tag-text-color;
            cursor: pointer;
        }
        p{
            text-align: center;
        }
     
    }
    .card--row--information--row{
        @include row;
        img{
            width:16%;
            height:16%;
            border-radius: 50%;
        }
        .card--row--information--column{
            @include column;
            margin-left: 5%;
           
            justify-content: space-between;
            h3,h2{
                color:$tag-text-color;
                
            }
            ul{
                display: flex;
                justify-content: space-between;
                color:grey;
                padding:0;
            }
            li:first-child{
                list-style-type: none;
                margin-left: 0px;
            }
            li{
                margin-left: 30px;
            }
        }
    }
}
.searchBar{
    @include row;
    justify-content: space-between;  
background-color: white;
height: 7.5%;
width: 75%;
margin:0 auto;
border-radius: 6px;
z-index: 1;

input{
    height: 100%;
    border:none;
    outline: none;
    padding: 12px 20px;
    width:15%;
    &:focus{
        border-bottom-color:$tag-text-color ;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    }
   
}
.searchBar--tags{
    @include row;
    align-items: center;
  
}
}


  
  