* {
  margin: 0 0 0 0;
}

body {
  background-color: #effafa;
  font-family: "Spartan", sans-serif;
}

.header {
  width: 100%;
  background-color: #5ba4a4;
  z-index: -1;
}

.header img {
  width: 100%;
}

.card {
  width: 75%;
  background-color: white;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 11px 12px 40px 2px #5ba4a4;
          box-shadow: 11px 12px 40px 2px #5ba4a4;
  margin: 2% 0% 0% 12.5%;
}

.card.hidden {
  display: none;
}

.card.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0% 5% 0% 5%;
  padding: 2.5% 0% 2.5% 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card--row--tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  direction: rtl;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card--row--tag {
  color: #5ba4a4;
  background-color: #effafa;
  border-radius: 3px;
  width: auto;
  min-width: 15%;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1%;
  padding: 0% 3%;
}

.card .card--row--tag:hover {
  color: white;
  background-color: #5ba4a4;
  cursor: pointer;
}

.card .card--row--tag p {
  text-align: center;
}

.card .card--row--information--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card--row--information--row img {
  width: 16%;
  height: 16%;
  border-radius: 50%;
}

.card .card--row--information--row .card--row--information--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card--row--information--row .card--row--information--column h3, .card .card--row--information--row .card--row--information--column h2 {
  color: #5ba4a4;
}

.card .card--row--information--row .card--row--information--column ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: grey;
  padding: 0;
}

.card .card--row--information--row .card--row--information--column li:first-child {
  list-style-type: none;
  margin-left: 0px;
}

.card .card--row--information--row .card--row--information--column li {
  margin-left: 30px;
}

.searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  height: 7.5%;
  width: 75%;
  margin: 0 auto;
  border-radius: 6px;
  z-index: 1;
}

.searchBar input {
  height: 100%;
  border: none;
  outline: none;
  padding: 12px 20px;
  width: 15%;
}

.searchBar input:focus {
  border-bottom-color: #5ba4a4;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.searchBar .searchBar--tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */